@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tabset-selected {
    background-image: none;
}

.tab-button-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flexlayout__border_button {
    border-radius: 0 !important;
}

[data-testid="split-view-view"]:nth-child(2) {
    overflow: auto !important;
    background: white;
}